.main_policy_div{
    height: 200vh;
    background-color: white;
    color: black;
    font-family: "Nunito Sans", sans-serif;

}
.main_content_div{
    width:80%;
    margin: 0 auto;
    font-family: "Nunito Sans", sans-serif;

    height: 100%;   
}
h1{
    font-family: "Nunito Sans", sans-serif;

}