.main_home_body {
  height: max-content;
  background-color: black;
  overflow-x: hidden;
}

.profile_img {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: contain;
  background-repeat: no-repeat;
}

.courses {
  margin: 80px auto;  
  width: 90%;
  display: flex;
  justify-content: space-between;
  display: none;
}

.course img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.course {
  flex-basis: 31%;
}
.caption-content {
  font-size: 1rem;
  height: max-content;
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 0.952);
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.caption-content p {
  color: black;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: 1px solid white;
}
.caption-content h4 {
  color: black;
  padding-right: 5%;
  padding-left: 5%; 
}

.strike {
  text-decoration: line-through;
}
.bitcoin2_home {
  position: absolute;
  top: 5%; 
  left: -10%;
  height: 50%;
} 

.bitcoin1_home {
  position: absolute;
  top: 5%;
  right: -18%;
  height: 50%;
}

@media screen and (max-width: 1025px) {
  .course p,
  .course h4 {
    font-size: 0.8rem;
  }
  .bitcoin2_home {
    position: absolute;
    top: 5%;
    left: -10%;
    height: 40%;
  }
  .bitcoin1_home{
    display: none;
  }
  /* .bitcoin1_home {
    position: absolute;
    top: 9%;
    right: -13%;
    height: 30%;
  } */
}
@media screen and (max-width: 835px) {
  .course p,
  .course h4 {
    font-size: 0.6rem;
  }
  .bitcoin2_home {
    position: absolute;
    top: 5%; 
    left: -10%;
    height: 30%;
  }
  /* .bitcoin1_home {
    position: absolute;
    top: 9%;
    right: -13%;
    height: 25%;
  } */
}
@media screen and (max-width: 620px) {
  .course p,
  .course h4 {
    font-size: 0.4rem;
  }
  .bitcoin2_home {
    position: absolute;
    top: 5%;
    left: -10%;
    height: 15%;
  }
  .bitcoin1_home{
    display: none;
  }
  /* .bitcoin1_home {
    position: absolute;
    top: 9%;
    right: -13%;
    height: 15%;
  } */
}

@media screen and (max-width: 416px) {
  .courses{
    display: none;
  }
}